<!DOCTYPE html>

<html lang="en" data-framework="jquery" class="hb-loaded">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Lor Framework - Login</title>
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>
<body style="cursor: default;width:450px;">
    <h3>Login</h3>

	<form action="/auth/login" method="post">
		Username: <input type="text" name="username">
        Password: <input type="text" name="password">
		<button type="submit">Login</button>
	</form>
 	<span>account: test/test or sumory/1</span>
  </body>
</html>
